h1{
    color: red;
    font-size: 12px;
    column-gap: normal;
}

<<<<<<< HEAD
h3{
    color: red;
    font-size: 12px;
    column-gap: normal;
}

h4{
=======
h2{
>>>>>>> primeiro_branch
    color: red;
    font-size: 12px;
    column-gap: normal;
}