h1{
    color: red;
    font-size: 12px;
    column-gap: normal;
}

h3{
    color: red;
    font-size: 12px;
    column-gap: normal;
}

h4{
    color: red;
    font-size: 12px;
    column-gap: normal;
}